<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @score.team_id %>
</p>

<p>
  <strong>Division:</strong>
  <%= @score.division_id %>
</p>

<p>
  <strong>Wod1 score:</strong>
  <%= @score.wod1_score %>
</p>

<p>
  <strong>Wod1 place:</strong>
  <%= @score.wod1_place %>
</p>

<p>
  <strong>Wod2 score:</strong>
  <%= @score.wod2_score %>
</p>

<p>
  <strong>Wod2 place:</strong>
  <%= @score.wod2_place %>
</p>

<p>
  <strong>Wod3 score:</strong>
  <%= @score.wod3_score %>
</p>

<p>
  <strong>Wod3 place:</strong>
  <%= @score.wod3_place %>
</p>

<p>
  <strong>Wod4 score:</strong>
  <%= @score.wod4_score %>
</p>

<p>
  <strong>Wod4 place:</strong>
  <%= @score.wod4_place %>
</p>

<p>
  <strong>Wod5 score:</strong>
  <%= @score.wod5_score %>
</p>

<p>
  <strong>Wod5 place:</strong>
  <%= @score.wod5_place %>
</p>

<p>
  <strong>Overall score:</strong>
  <%= @score.overall_score %>
</p>

<p>
  <strong>Overall place:</strong>
  <%= @score.overall_place %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
